@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../../assets/fonts/inter-latin-ext-500-normal.woff2?no-inline')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../../assets/fonts/inter-latin-ext-600-normal.woff2?no-inline')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../../assets/fonts/inter-latin-ext-700-normal.woff2?no-inline')
    format('woff2');
}

:root {
  --font-family: 'Inter', system-ui, 'Segoe UI', roboto, sans-serif;

  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-36: 3.6rem;
  --font-size-60: 6rem;
}
